<h1 class="text-center">{{ preFight.fightTitle }}</h1>

<div class="text-block text-center">
  <h3 class="text-success">Allies</h3>
  <div ng-repeat="ally in preFight.allies">
    <h4>{{ ally.name }}</h4>
    <p>Lvl. {{ ally.level }} {{ ally.class }}</p>
    <p>STR : {{ ally.baseStats.strength }} &nbsp; | &nbsp; SPD : {{ ally.baseStats.speed }}
      &nbsp; | &nbsp; DEF : {{ ally.baseStats.defense }} &nbsp; | &nbsp; INT: {{ ally.baseStats.intellect }}</p>
  </div>

  <h1 class="text-warning">VS</h1>

  <h3 class="text-danger">Enemies</h3>

  <div class="form-group input-group-sm"
       ng-if="preFight.fightType === 'arena'">
    <span>Select Difficulty:</span>
    <select ng-change="preFight.selectDifficulty(preFight.enemyDifficulty)"
            ng-model="preFight.enemyDifficulty"
            class="form-control input-sm">
      <option value="-1">Easy</option>
      <option value="0">Normal</option>
      <option value="2">Hard</option>
      <option value="5">Insane</option>
    </select>
  </div>

  <div ng-repeat="enemy in preFight.enemies">
    <h4>{{ enemy.name }}</h4>
    <p>STR : {{ enemy.stats.strength }} &nbsp; | &nbsp; SPD : {{ enemy.stats.speed }}
      &nbsp; | &nbsp; DEF : {{ enemy.stats.defense }} &nbsp; | &nbsp; INT: {{ enemy.stats.intellect }}</p>
  </div>
</div>
<div class="text-center">
  <button class="btn btn-success" ng-class="{'disabled' : !preFight.enemies}" ng-click="preFight.readyUp()">Ready</button>
  <button class="btn btn-warning" ng-click="preFight.goBack()">Go Back</button>
</div>

