.game-board {

  .game-board-row {
    height: 24px;

    .game-board-cell {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 22px;
      width: 22px;
      border: 2px solid gray;
      border-radius: 3px;
      margin: 1px;

      &.movable {
        border-color: yellow;
      }

      &.enemy-targetable {
        border-color: red;
      }

      &.ally-targetable {
        border-color: green;
      }

      &:hover {
        border-color: white;
      }

      &.fire-cell {
        background-color: orangered;
      }

      &.water-cell {
        background-color: dodgerblue;
      }

      &.acid-cell {
        background-color: greenyellow;
      }

      &.void-cell {
        opacity: .1;
        pointer-events: none;
      }

      .game-board-contents {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 50%;
      }
    }
  }
}
