.game-board {

  .game-board-row {
    height: 24px;

    .game-board-cell {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 22px;
      width: 22px;
      border: 2px solid $ozTertiary;
      border-radius: 3px;
      margin: 1px;
      outline: none;

      &.movable {
        border-color: $ozMoveable;
      }

      &.enemy-targetable {
        border-color: $ozEnemyTargetable;
      }

      &.ally-targetable {
        border-color: $ozAllyTargetable;
      }

      &:hover {
        border-color: white;
      }

      &.fire-cell {
        background-color: $ozFire;
      }

      &.water-cell {
        background-color: $ozWater;
      }

      &.acid-cell {
        background-color: $ozAcid;
      }

      &.void-cell {
        opacity: .1;
        pointer-events: none;
      }

      .game-board-contents {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 50%;
      }
    }
  }
}
