.game-board {

  .game-board-row {
    height: 24px;

    .game-board-cell {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 22px;
      width: 22px;
      border: 2px solid gray;
      border-radius: 3px;
      margin: 1px;

      &:hover {
        border-color: gold;
      }

      &.movable {
        background-color: yellow;
        opacity: .7;

        &:hover {
          opacity: 1;
          border-color: gray;
        }
      }

      &.enemy-targetable {
        background-color: red;
        opacity: .7;

        &.hover {
          opacity: 1;
          border-color: gray;
        }
      }

      &.ally-targetable {
        background-color: green;
        opacity: .7;

        &.hover {
          opacity: 1;
          border-color: gray;
        }
      }

      &.empty-cell {
        opacity: .1;
        pointer-events: none;
      }

      .game-board-contents {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 50%;
      }
    }
  }
}
