<div class="container">
  <div class="row">
    <div class="col-sm-6 text-block nine-tenths-screen">
      <h2 class="text-center">Inventory</h2>
      <p ng-if="store.equipment.length === 0">No Inventory to Display.</p>
      <div ng-repeat="item in store.equipment track by $index">
        <div class="row">
          <div class="col-sm-4">
            <h4 ng-class="{'text-success' : item.rarity === 'Uncommon', 'text-warning' : item.rarity === 'Rare', 'text-epic' : item.rarity === 'Epic'}">
              {{ ::item.name }}</h4>
          </div>
          <div class="col-sm-8 text-right">
            <button class="btn btn-danger"
                    ng-click="store.sellItem(item, $index)">Sell</button>
          </div>
        </div>
        <i>{{ ::item.description }}</i>
        <p>
          Type: {{ item.type }}
          <span ng-if="::item.stats.health !== 0">&nbsp;| Health: {{ ::item.stats.health }}</span>
          <span ng-if="::item.stats.energy !== 0">&nbsp;| Energy: {{ ::item.stats.energy }}</span>
          <span ng-if="::item.stats.strength !== 0">&nbsp;| STR: {{ ::item.stats.strength }}</span>
          <span ng-if="::item.stats.defense !== 0">&nbsp;| DEF: {{ ::item.stats.defense }}</span>
          <span ng-if="::item.stats.speed !== 0">&nbsp;| SPD: {{ ::item.stats.speed }}</span>
          <span ng-if="::item.stats.intellect !== 0">&nbsp;| INT: {{ ::item.stats.intellect }}</span>
        </p>
        <hr ng-if="item.equipment.length > 1">
      </div>
    </div>

    <div class="col-sm-6 text-block nine-tenths-screen">
      <h2 class="text-center">Store</h2>
      <h4 class="text-center">Money: ${{ store.inventoryService.money }}</h4>
      <h4 ng-if="store.storeInventory.length === 0">No Inventory to Display.</h4>

    </div>
  </div>
</div>


<div class="text-center">
  <button class="btn btn-primary" ng-click="store.backToMain()">Back To Main Menu</button>
</div>
