<div ng-if="fightSummary.battleWon">
  <h1 class="text-center">Victory!</h1>

  <div class="text-block">
    <h4 class="text-center">Experience Awarded: {{ fightSummary.experienceAwarded }}</h4>

    <h4 class="text-center">Experience to Each: {{ fightSummary.experienceToEach }}</h4>

    <div ng-repeat="ally in fightSummary.activeAllies">
      <p>{{ ally.name }} Lvl. {{ ally.level }} <span ng-if="ally.leveledUp" class="text-success">Level Up!</span></p>
      <uib-progressbar max="ally.expNeeded" value="ally.exp" type="info">{{ally.exp}} / {{ ally.expNeeded }}</uib-progressbar>
    </div>

  </div>

  <div class="text-center">
    <button class="btn btn-success text-center" ng-click="fightSummary.continue()">Continue</button>
  </div>
</div>

<div ng-if="!fightSummary.battleWon">
  <h1 class="text-center">Defeated</h1>

  <div class="text-block">
    <h3>You lost and you suck.</h3>
  </div>


  <div class="text-center">
    <button class="btn btn-success text-center" ng-click="fightSummary.tryAgain()">Try Again</button>
  </div>
</div>
