<enemies-fight-display></enemies-fight-display>

<div class="middle-fight-bar">
  <div class="container">
    <div class="row">
        <div class="col-sm-2">
          <div ng-include="'app/components/fightQueue/fightQueue.html'"></div>
        </div>
        <div class="col-sm-6">
          <game-board></game-board>
        </div>
        <div class="col-sm-4">
          <div class="fight-log">
            <p ng-repeat="entry in fight.fightLog | orderBy : '-'"
               ng-class="{'text-muted' : entry.id < fight.fightLog.length - 3}"
               class="flash-in">{{ ::entry.message }}</p>
            <!--TODO This is utilizing a lot of watchers. Should be bound only once.-->
          </div>
        </div>


    </div>
  </div>
</div>

<allies-fight-display></allies-fight-display>
