/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.fight-bar {
  text-align: center;
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

.allies-fight-bar {
  bottom: 0;
}

.enemies-fight-bar {
  top: 0;
}


.fight-card {
  display: inline-block;
  border-radius: 10px;
  border: 3px solid gray;
  padding: 5px;
  margin: 10px;
  max-width: 30%;
  text-align: left;
  outline: none;

  &:hover {
    border: 3px solid gold;
  }
}

.active-card {
  border: 3px solid gold;
  outline: none;
}

.disabled-link {
  pointer-events: none;
}

.center-me {
  display: inline-block;
}

.center-fight-display {
  height: 200px;
}

.fight-queue {
  border: 3px solid gray;
  border-radius: 10px;
  position: fixed;
  top: 28%;
  padding: 0 15px;
  left: 10px;
  width: 30%;
}

.fight-log {
  border: 3px solid gray;
  border-radius: 10px;
  position: fixed;
  top: 28%;
  padding: 0 15px;
  overflow: scroll;
  right: 20px;
  width: 65%;
  height: 212px;
}

.text-pulse {
  animation: text-pulse 2.5s infinite;
}

@keyframes text-pulse {
  0% {
    color: white;
  }

  50% {
    color: gold;
  }

  100% {
    color: white;
  }
}

.border-pulse {
  animation: border-pulse 2.5s infinite;
}

@keyframes border-pulse {
  0% {
    border-color: white;
  }

  50% {
    border-color: gold;
  }

  100% {
    border-color: white;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
