/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

::-webkit-scrollbar {
  display: none;
}

.full-width {
  width: 100%;
}

.subtext {
  font-size: 68%;
}

.inline-block {
  display: inline-block;
}

.vertical-center {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.description-container {
  min-height: 80px;
}

.fight-bar {
  text-align: center;
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

.allies-fight-bar {
  bottom: 0;
}

.enemies-fight-bar {
  top: 0;
}

.team-card {
  border: 3px solid gray;
  border-radius: 10px;
  width: 100%;
  padding: 0 .6em;
  margin-bottom: .1em;
}

.team-container {
  max-height: 80vh;
  overflow: scroll;
}

.middle-fight-bar {
  position: fixed;
  top: 22%;
  left: 0;
  right: 0;
}

.fight-queue {
  border: 3px solid gray;
  border-radius: 10px;
  padding: 0 15px;
}

.fight-log {
  border: 3px solid gray;
  border-radius: 10px;
  padding: 15px;
  overflow: scroll;
  height: 212px;
}

.card {
  display: inline-block;
  border-radius: 10px;
  border: 3px solid gray;
  text-align: left;
  outline: none;
  max-width: 30%;
  margin: 10px;

  &:hover {
    border: 3px solid gold;
  }
}

.class-card {
  padding: 0 15px;
  max-height: 75vh;
  overflow: scroll;
}

.select-class-icon {
  font-size: 5em;
}

.fight-card {
  padding: 5px;
}

.fight-icon {
  font-size: 2em !important;
}

.dead-card {
  opacity: .5;
}

.active-card {
  border: 3px solid gold;
  outline: none;
}

.text-block {
  width: 70%;
  max-width: 700px;
  border: 3px solid gray;
  padding: 1em;
  border-radius: 10px;
  margin: 5px auto;
  max-height: 75vh;
  overflow: scroll;
}

.disabled-link {
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}

.center-me {
  display: inline-block;
}




.icon-btn {
  width: 6em;
}

.text-epic {
  color: #9B30FF;
}

.text-pulse {
  animation: text-pulse 2.5s infinite;
}

@keyframes text-pulse {
  0% {
    color: white;
  }

  50% {
    color: gold;
  }

  100% {
    color: white;
  }
}

.border-pulse {
  animation: border-pulse 2.5s infinite;
}

@keyframes border-pulse {
  0% {
    border-color: white;
  }

  50% {
    border-color: gold;
  }

  100% {
    border-color: white;
  }
}

.flash-in {
  animation: flash-in 2s 1;
}

@keyframes flash-in {
  0% {color: gold;}

  100% {color: white;}
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
