/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$ozPrimary: rgb(72, 161, 103);
$ozSecondary: gold;
$ozTertiary: gray;

$ozAcid: greenyellow;
$ozFire: orangered;
$ozWater: dodgerblue;

$ozMoveable: yellow;
$ozEnemyTargetable: red;
$ozAllyTargetable: green;


$nav-tabs-border-color:                     $ozPrimary !important;
$nav-tabs-active-link-hover-bg:             inherit !important;
$nav-tabs-active-link-hover-color:          $ozPrimary !important;
$nav-tabs-active-link-hover-border-color:   $ozPrimary !important;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

::-webkit-scrollbar {
  display: none;
}

body {
  height: auto;
  min-height: 500px;
  min-width: 1000px;
}

.full-width {
  width: 100%;
}

.subtext {
  font-size: 68%;
}

.inline-block {
  display: inline-block;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-container {
  min-height: 80px;
}

.card {
  display: inline-block;
  border-radius: 10px;
  border: 3px solid $ozPrimary;
  text-align: left;
  outline: none;
  max-width: 30%;
  margin: 10px;
}

.team-card {
  border: 3px solid $ozPrimary;
  border-radius: 10px;
  width: 100%;
  padding: 0 .6em;
  margin-bottom: .1em;
}

.team-container {
  max-height: 80vh;
  overflow: scroll;
}

.target {
  &:hover {
    border: 3px solid $ozSecondary;
  }
}

.class-card {
  padding: 0 15px;
  max-height: 75vh;
  overflow: scroll;
}

.select-class-icon {
  font-size: 5em;
}

.dead-card {
  opacity: .5;
}

.active-card {
  border: 3px solid $ozSecondary;
  outline: none;
}

.text-block {
  width: 70%;
  max-width: 700px;
  border: 3px solid $ozPrimary;
  padding: 1em;
  border-radius: 10px;
  margin: 5px auto;
  max-height: 75vh;
  overflow: scroll;
}

.four-fifths-screen {
  height: 80vh;
}

.nine-tenths-screen {
  max-height: 90vh;
  height: 90vh;
}

.disabled-link {
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}

.icon-btn {
  width: 6em;
}

.text-epic {
  color: #9B30FF;
}

.text-pulse {
  animation: text-pulse 2.5s infinite;
}

@keyframes text-pulse {
  0% {
    color: white;
  }

  50% {
    color: $ozSecondary;
  }

  100% {
    color: white;
  }
}

.border-pulse {
  animation: border-pulse 2.5s infinite;
}

@keyframes border-pulse {
  0% {
    border-color: white;
  }

  50% {
    border-color: $ozSecondary;
  }

  100% {
    border-color: white;
  }
}

.flash-in {
  animation: flash-in 2s 1;
}

@keyframes flash-in {
  0% {color: $ozSecondary;}

  100% {color: white;}
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
