<div class="container">
  <div class="fight-bar enemies-fight-bar">
    <div class="fight-card"
         ng-style="{width: enemiesFightDisplay.cardWidth}"
         ng-repeat="enemy in enemiesFightDisplay.enemies"
         ng-if="enemy.active">
      <h5>{{ enemy.name }}</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-success"
             ng-class="{'progress-bar-warning' : enemy.health/enemy.maxHealth <= .5, 'progress-bar-danger' : enemy.health/enemy.maxHealth <= .25}"
             role="progressbar"
             style="width: {{ enemy.percentageHealth }}">
          {{ enemy.health }}/{{ enemy.maxHealth }}
        </div>
      </div>
    </div>
  </div>
</div>
