<div class="container">
  <div class="fight-bar enemies-fight-bar">
    <div class="card fight-card"
         ng-style="{width: enemiesFightDisplay.cardWidth}"
         ng-repeat="enemy in enemiesFightDisplay.enemies"
         ng-if="enemy.status === 'alive'"
         ng-class="{'border-pulse' : enemy.id === fight.queuePool[0].id}"
         ng-click="enemiesFightDisplay.allyAttackEnemy(enemy)">
      <h5>{{ enemy.name }}</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-success"
             ng-class="{'progress-bar-warning' : enemy.stats.health/enemy.stats.maxHealth <= .5, 'progress-bar-danger' : enemy.stats.health/enemy.stats.maxHealth <= .25}"
             role="progressbar"
             style="width: {{ enemy.percentageHealth }}">
          {{ enemy.stats.health }}/{{ enemy.stats.maxHealth }}
        </div>
      </div>
    </div>
  </div>
</div>
