<div class="container">
    <div class="fight-bar allies-fight-bar">
        <div class="card fight-card"
             ng-repeat="ally in alliesFightDisplay.activeAllies"
             ng-style="{width: alliesFightDisplay.cardWidth}"
             ng-if="ally.status !== 'inactive'"
             ng-class="{'border-pulse' : ally.id === fight.queuePool[0].id, 'dead-card' : ally.status !== 'alive'}"
             ng-click="alliesFightDisplay.clickAlly(ally)">

            <div class="row">
              <h5 class="col-sm-10">{{ ally.name }}</h5>
              <div class="col-sm-2 text-center">
                <span class="fight-icon" ng-class="ally.icon"></span>
              </div>
            </div>

            <h6 class="text-center">Lv. {{ ally.level }} {{ ally.class }} &nbsp; | &nbsp; Stance: {{ ally.stance }}</h6>

            <div class="progress">
                <div class="progress-bar progress-bar-success"
                     ng-class="{'progress-bar-warning' : ally.stats.health/ally.stats.maxHealth <= .5, 'progress-bar-danger' : ally.stats.health/ally.stats.maxHealth <= .25}"
                     role="progressbar"
                     style="width: {{ ally.percentageHealth }}">
                    {{ ally.stats.health }}/{{ ally.stats.maxHealth }}
                </div>
            </div>

            <uib-progressbar max="ally.stats.maxEnergy"
                             value="ally.stats.energy"
                             type="info">{{ally.stats.energy}} / {{ ally.stats.maxEnergy }}</uib-progressbar>

            <h6 class="text-center">STR : {{ ally.stats.strength }} &nbsp; | &nbsp; SPD : {{ ally.stats.speed }}
              &nbsp; | &nbsp; DEF : {{ ally.stats.defense }} &nbsp; | &nbsp; INT: {{ ally.stats.intellect }}</h6>

            <div class="text-center">
                <div class="center-me dropup"
                     uib-dropdown>
                    <button role="button"
                            class="btn btn-default"
                            ng-class="{'disabled' : (ally.id !== fight.queuePool[0].id || ally.status !== 'alive' || alliesFightDisplay.movesService.selectedMove !== '')}"
                            uib-dropdown-toggle
                            aria-haspopup="true"
                            aria-expanded="false">
                        Moves <b class="caret"></b>
                    </button>
                    <ul uib-dropdown-menu>
                        <li class="text-center" ng-repeat="move in ally.moves">
                            <a ng-click="alliesFightDisplay.selectMove(move[0])"
                               ng-if="ally.level >= move[1]">
                              {{ move[0] }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

